@import '../../../styles/fonts';
@import '../../../styles/variables';

.button {
  @include button-font-1;
  text-align: center;
  border-radius: 5px;
  border: none;

  &.outlined {
    color: $color-primary;
    background-color: $color-light;
  }

  &.filled {
    color: white;
    background-color: $color-primary;
  }

  &-xs { //164 x 40
    padding: 12px 110px;
  }

  &-s { //206 x 40
    padding: 12px 40px
  }

  &-m { //246 x 40
    padding: 12px 60px
  }

  &-l { //346 x 40
    padding: 12px 110px
  }

  &-xl {  //362 x 40
    padding: 12px 118px
  }
}








