$color-primary: #F0572D;
$color-secondary: #31363F;
$color-dark: #191B1D;
$color-light: #DFE4EA;


// Responsive
$min-width-tablet: 768px;
$min-width-desktop: 1366px;

$padding-default: 0 19px;
$padding-tablet: 0 31px;
$padding-desktop: 0 50px;



